.card-properties {
    width: 400px;
    height: 200px;    
    border: 1px solid #656565;
  }

.title {
    font-weight: bold;
    color: #FF0021;
}

.size-button-like {
    width: 20px;
    padding-right: 10%;
}