<mat-card class="card-properties">
    <mat-card-header>
      <mat-card-title class="title">{{game.title}}</mat-card-title>
      <!--<mat-card-subtitle>{{game.tags}} {{game.warntags}}</mat-card-subtitle>-->
      <mat-card-subtitle><app-tag [tags]="game.tags" [warntags]="game.warntags"></app-tag></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{game.description}}</p>
    </mat-card-content>
    <mat-card-actions class="position-absolute bottom-0 end-0">
      <input mat-button *ngIf="game.isAlreadyLiked else isNotLiked" type="image" src="../../assets/fill-like.png" class="size-button-like" (click)="toggleLikes()"/>
      <ng-template #isNotLiked><input mat-button type="image" src="../../assets/empty-like.png" class="size-button-like" (click)="toggleLikes()"/></ng-template>
      <span>{{game.nbLikes}}</span>
    </mat-card-actions>
</mat-card>
  
  
