.card-properties {
    width: 300px;
    height: 200px;    
    border: 1px solid #656565;
}

.title {
    font-weight: bold;
    color: #FF0021;
    cursor: pointer; 
}

.title::placeholder {
    cursor: pointer; 
}

.size-button-like {
    width: 20px;
    padding-right: 10%;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .container-properties::-webkit-scrollbar {
    display: none;
  }

.container-properties{
    overflow-x: auto;
    width: 250px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}