<mat-card class="card-properties" #statusRef>
    <mat-card-header>
      <mat-card-title class="title" (click)="openDialog()">{{game.title}}</mat-card-title>
      <mat-card-subtitle class="container-properties"><app-tag [tags]="game.tags" [warntags]="game.warntags"></app-tag></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{game.description | slice:0:100}}...</p>
    </mat-card-content>
    <mat-card-actions class="position-absolute bottom-0 end-0">
      <input mat-button alt = "like" *ngIf="game.isAlreadyLiked else isNotLiked" type="image" src="../../assets/fill-like.png" class="size-button-like" (click)="toggleLikes()"/>
      <ng-template #isNotLiked><input mat-button alt="like" type="image" src="../../assets/empty-like.png" class="size-button-like" (click)="toggleLikes()"/></ng-template>
      <span>{{game.nbLikes}}</span>
    </mat-card-actions>
</mat-card>
  
  
