<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" class="d-flex flex-row toolbar-properties">
  <mat-button-toggle value="accueil">Accueil</mat-button-toggle>
  <mat-button-toggle value="ajout_jeu">Ajouter un nouveau jeu</mat-button-toggle>
</mat-button-toggle-group>
<div class="d-flex flex-row flex-wrap gap justify-content-around">
  <div *ngFor="let game of elemsPage.games">
    <app-card [game]="game"></app-card>
  </div>
</div>
<nav aria-label="Page navigation example" class="position-absolute bottom-0">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#" (click)="changePage(elemsPage.currentPage - 1)">Previous</a></li>
    <li class="page-item" *ngFor="let page of [].constructor(elemsPage.totalPages); let i = index"><a class="page-link" href="#" (click)="changePage(i)">{{i + 1}}</a></li>
    <li class="page-item"><a class="page-link" href="#" (click)="changePage(elemsPage.currentPage + 1)">Next</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
